[submodule "vocabversus-engine"]
	path = vocabversus-engine
	url = https://github.com/Thomas-Molen/vocabversus-engine
	branch = main
[submodule "vocabversus-interface"]
	path = vocabversus-interface
	url = https://github.com/Thomas-Molen/vocabversus-interface
	branch = main
[submodule "vocabversus-wordset-evaluator"]
	path = vocabversus-wordset-evaluator
	url = https://github.com/Thomas-Molen/vocabversus-wordset-evaluator
	branch = main
